:root {


    --text-color: #ffffff;
    --background-color: #222;

    --accent-bg-color: #7f1d1d;
    --dark-accent-bg-color: #450A0A;
    
    --text-button: #ffffff;
    --button-color: #7f1d1d;

    --nav-background: #333;
    --text-nav-color: #fff;
    --nav-accent: #FFF;

    --card-text: #ffffff;

    

    }


    #themeIcon{
        height: 30px;
    }