
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'CRAWN';
    font-style: normal;
    font-weight: 400;
    src: local('CRAWN'), url('https://fonts.cdnfonts.com/s/105604/Crawn-VG2aw.woff') format('woff');
}
@font-face {
    font-family: 'Showdex';
    src: url(https://fonts.cdnfonts.com/s/9805/edosz.woff);
}
@font-face {
    font-family: 'Dancing' ;
    src: url(https://fonts.gstatic.com/s/spicyrice/v25/uK_24rSEd-Uqwk4jY1RyKvi8Ww.woff2);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal
    }

    :root {


    --text-color: #ffffff;
    --background-color: #222;

    --accent-bg-color: #7f1d1d;
    --dark-accent-bg-color: #450A0A;
    
    --text-button: #ffffff;
    --button-color: #7f1d1d;

    --nav-background: #333;
    --text-nav-color: #fff;
    --nav-accent: #FFF;

    --card-text: #ffffff;





    }

body{
background-color: var(--background-color);
color: var(--text-color);
}
/* Nav-Bar */

.navbar {
height: 80px;
display: flex;
justify-content: space-between;
align-items: center; 
background-color: var(--nav-background);
overflow: hidden;
width: 100%;
position: fixed;
top: 0;
z-index: 1000;
}

.logo {
height: auto;   
margin-left: 20px;
}

.logo img{
margin-left: 40%;
height: 60px;
}


.nav-links {
list-style: none;
display: flex;
gap: 20px;

}

.nav-links li {
display: flex;
align-items: center;
font-size: 7pt;
}

.nav-links a {
text-transform: uppercase;
text-decoration: none;
padding: 10px;
display: flex;
align-items: center;
margin-right: 30px;
position: relative;
font-size: 1.5em;
}
.btn::after{
content:" ";
background-color: var(--nav-accent);
position: absolute;
width: 0;
height: 4px;
left: 0;
bottom: 0;
transition: 0.5s;
}
.nav-links a:hover::after{
width: 100%;
}
.btn {
background-color: var(--nav-background);
color: var(--text-nav-color);    
}

.botao {
color: var(--text-button);
display: flex;
justify-content: center;
align-items: center;
background-color: var(--button-color);
width: 150px;
border-radius: 30px;

}

.botao:hover {
filter: brightness(80%);
}

/* Banner */

.sessao1>h1{
color: var(--text-button);
}
.banner {
background-image: url(../img/Banner.png);
background-position: center;
background-size: cover;
height: 80vh;
display: flex;   
justify-content: center;
align-items: center;

}

/* Cards */ 
.container-cards{
margin-top: 10%;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
gap: 5rem;

}
.card{
background-color: var(--card-background);
text-align: center;
overflow: hidden;
border-radius: 10px;
min-width: 400px;
width: 25%;
cursor: pointer;
transition: 0.5s ease;
animation: pulse 3s infinite alternate;
}
.card:hover{
    transform: scale(1.1);
}
.content-card{

    transition: all 0.5s ease;
}
.card:hover .content-card{
    height: 100%;
}

.card h1{
font-family: 'Showdex', sans-serif;
color: var(--card-text);
font-weight:200;
font-size: 40pt;
margin-top: 20px;
position: relative;
display: inline-block;
text-shadow: .1em .1em 0 hsl(0, 0%, 0%);


}

.card ul{

margin-top: 10%;
padding-left: 0px;

}

.card li{
font-family: "Dancing", serif;
font-weight: 100;
font-style: normal;
font-size: 15pt;
letter-spacing: 1px;
font-style: normal;
margin: 5px;
color: var(--card-text);
list-style: none;



}

.card-text-effect{
backdrop-filter: blur(5px) ;
width: 100%;
padding-bottom: 20px;
border-radius: 15px;

}

.imagem-infantil{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../img/Infant2.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    min-height: 500px;
    
    
    
}


.imagem-adulto{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../img/adulto2.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    min-height: 500px;
    
}

.imagem-idoso{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../img/Idoso2.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    min-height: 500px;
    
    
}

/* Info - Academia */

.container-info{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 70dvh;
min-height: fit-content;
margin: 10% auto 0 auto ;

flex-wrap: nowrap;
background-image: linear-gradient(-70deg, var(--accent-bg-color) 35%, rgba(0, 0, 0, 0) 50%), url('../img/academia.jpg');
background-size: cover;
background-repeat: no-repeat;


}

.info-text{
color: var(--card-text);
width:45%;
margin: 30px;
word-wrap: break-word;
backdrop-filter: brightness(98%);

}

.info-text h2{
margin-bottom: 20px;
font-weight: 450;
font-family: 'Showdex', sans-serif;
color: var(--card-text);
font-weight:200;
font-size: calc(34px + 6 * ((100vw - 320px) / 680));
text-transform: uppercase;
text-align: center;


}

.h2-destaque{
margin-bottom: 20px;
font-weight: 450;
font-family: 'Showdex', sans-serif;
color: var(--card-text);
font-weight:200;
font-size: calc(36px + 6 * ((100vw - 320px) / 680));
text-transform: uppercase;
text-align: center;
text-shadow: .1em .1em 0 hsl(0, 0%, 0%);


}

.info-text p{
font-size: calc(14px + 6 * ((100vw - 320px) / 680));
text-align: right;



}

.info-img{
width: 50%;
height: 80%;
/*
background-image: url(../img/academia.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
*/

}

/* Call to Action */



.container-action{
display: flex;

align-items: center;
flex-direction: column;
height: 100%;
margin-top: 5%;

}

.container-action h3{
text-align: center;
font-size: 40px;
color: var(--text-color);
width: 60%;
}

.call-to-action{
background: var(--button-color);
border-radius: 999px;
box-shadow: var(--button-color) 0 15px 25px -8px;
box-sizing: border-box;  
cursor: pointer;
font-size: 2em;
font-weight: 400;
line-height: 24px;
opacity: 1;
outline: 0 solid transparent;
padding: 30px;  
margin-bottom: 5%;
margin-top: 2%;
}

.call-to-action a{
text-decoration: none;
text-align: center;
color: var(--text-button);

}

.call-to-action:hover{
filter: brightness(80%);
}

.social{
background-color: var(--dark-accent-bg-color);
color: var(--card-text);


}

.social-media{
display: flex;
justify-content: space-between;
align-items: center;   
flex-wrap: wrap;
overflow: hidden;
height: fit-content;
padding: 20px;

}

.social-media h3{
margin-left: 15px;
}

.social-img img{
height: 30px;
object-fit: contain;
margin-right: 10px;
}

.social-img img:hover{
    filter:brightness(90%);
    box-shadow: 2px 3px black;
    border-radius: 999px;
    transform: scale(1.1em);
}

.social-img:last-child{
margin-right: 15px;
}

footer {

color: var(--card-text);


}


.footer {
width: 100%;
height: 30dvh;
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--accent-bg-color);
overflow: hidden;
flex-wrap: wrap;

}

.footer-text{
    width: 50%;
    
}

.footer-text h3{
    font-size: 20pt;
    text-align: center;
}

.footer-text p{
    font-size: 15pt;
    margin-left: 30px;
    text-align: justify;
}


.footer-links {
margin-top: 10px;
text-align: center;
width: 25%;

}



.footer-links p{
text-align: justify;
font-size: 14px;
margin-left: 10px;
margin-top: 30px;
}

.footer-links h3 {
margin-bottom: 10px;
}

.footer-links ul {
list-style-type: none;
padding: 0;
}

.footer-links ul li {
margin-bottom: 10px;
}


.table {
background-color: var(--accent-bg-color);
text-align: left;
border-collapse: collapse;
margin: auto;



}
.table td,  .table th {
padding: 3px 2px;
margin-left: 10px;

}

.table tbody td {
font-size: 16px;


}
.table tr:nth-child(even) {
background:var(--accent-bg-color);
}
.tablet{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 29px;
    background: #7f1d1d;
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 30px;
    box-shadow:  36px 36px 52px #6b1818,
                -10px -10px 10px #932222;

}
.tablet>h3{
    text-transform: uppercase;
    /* margin: 10%; */
}